.catalog {
  display: grid;
  grid-template-columns: repeat(4, $card-width);
  justify-content: center;
  gap: 48px;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
