@media screen and (max-width: 1023px) {
  .catalog {
    grid-template-columns: repeat(3, $card-width);
  }
}

@media screen and (max-width: 767px) {
  .catalog {
    grid-template-columns: repeat(2, $card-width);
  }
}

@media screen and (max-width: 487px) {
  .catalog {
    grid-template-columns: repeat(1, $card-width);
  }
}
